/* Whole Page */

html {
    font-size: 16px;
    background-color: black;
    color: white;
    text-align: center;
}

/* fonts */

@font-face {
    font-family: 'DM Serif Text';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('DM Serif Text Regular'), local('DMSerifText-Regular'), url(https://fonts.gstatic.com/s/dmseriftext/v4/rnCu-xZa_krGokauCeNq1wWyWfSFXQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

 @font-face {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/firacode/v7/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_D1sJVD7Ng.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Libre Caslon Text';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Libre Caslon Text Regular'), local('LibreCaslonText-Regular'), url(https://fonts.gstatic.com/s/librecaslontext/v1/DdT878IGsGw1aF1JU10PUbTvNNaDMfq41-I.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* header text */

header a, body .newsContainer, .footer {font-family: "DM Serif Text", times, serif;}

.title, .banner, h4 {font-family: "Libre Caslon Text", times, serif;}

.title {font-size: 3.5vw;}

header a {font-size: 3vw; padding: 1vw;}

/* link colors */

a {color: white; text-decoration: none;}

a:hover {color: rgb(194, 16, 185)}

/* banner text */

.banner {font-size: 4vw; padding: 3vw;}

/* reviews text */

h1 {font-size: 2em;}

h2 {font-size: 1.8em;}

p {font-size: 1.5em;}

.footer {font-size: 1.5vw;}

h4 {font-size: 2.5vw;}

/* Top Header */

header {
    overflow: hidden; 
    margin: auto;
    width: 100%;
    height: auto;
    padding-bottom: 1vw;
}

#mainNavigation {
    padding: 2vw 1vw;
    margin: .5vw .5vw;
}

.header-left {
    float: left;
    padding: .75em;
}

.header-right {
    float: right;
    padding: .75em;
}

/* links */

#forLinks {
    display: inline-block;
    width: 100%;
    text-align: center;
}

#smallLink {width: 4vw;}

/* News */

#newsContainer {
    display: block;
    padding-top: 1em;
    padding-bottom: 1em;
    max-width: 20em;
    margin-left: auto;
    margin-right: auto;
}

.stCover {
    padding-top: 1em;
    border: white 1px solid;
    width: 37vw;
    padding-top: 1em;
    height: 37vw;
    margin: auto;
    background-image: url("Images/stFront.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.stCover:hover {background-image: url("Images/stBack.jpg");}

.blockContainer {
    width: 100%;
    display: block;
}

/* videos */

.videoContainer {
    width: 100%;
    display: block;
}

.videoContainer iframe {
    width: 75%;
    margin: auto;
    height: 50vw;
}

#wasps {padding-top: 10vw;}

/* reviews */

#reviewContainer {min-width: 200px;}

.reviewBox {
    width: 30%;
    padding: 1vw;
    display: inline-block;
    vertical-align: top;
}

.reviewTitleBox {display: inline-block;}

/* About Us */

.bandPic img {
    width: 75vw;
    display: block;
    margin: auto;
    padding-bottom: 2em;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

/* for mobile */

#title2 {display: none;}

#title1 {display: block;}

@media only screen and (max-width: 768px) {
     #title2 {display: block; font-size: 7.5vw;}
     #title1 {display: none;}
     .title {font-size: 8vw;}
     #smallLink {width: 9vw;}
     header a {font-size: 6vw;}
    .reviewBox {padding:0; width: 100%; margin:0;}
    .bandPic img {width: 100%;}
    .stCover {width: 100%; height: 70vw;}
    .videoContainer iframe {width: 100%; padding-top: 2em;}
    .footer {font-size: 3vw;}
    h4 {font-size: 1.5em;}
    #wasps {padding-top: 3em;}
    .banner {font-size: 2.5em;}
    }